# Source archives contain only the add-on folder.
/*                  export-ignore
/PallyPower         -export-ignore
/PallyPower/**      -export-ignore

* text=auto

# GitHub
.github         text
.gitattributes  text
*.md            text

# Source files
*.lua           text
*.xml           text
*.toc           text

# Fonts
*.ttf           binary

# Sounds
*.ogg           binary
*.mp3           binary
*.wav           binary

# Textures
*.blp           binary
*.tga           binary
